div.wrapper {
  width: 800px;
  margin: 30px auto;
}


/*  HEADER */

h1 {
  text-align: center;
}


/*  ARTICLE */

article {
  width: 250px;
  display: inline-block;
  margin-right: 20px;
}

article.last-article {
  margin-right: 0px;
}

article h1 {
  text-align: left;
}


/* --------::::::: FOOTER :::::::------- */

footer p {
  text-align: right;
}
