body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

a {
  color: #335754;
}

a:hover {
  color: #233B39;
}

span {
  color: blue;
}

div.wrapper {
  width: 800px;
  margin: 30px auto;
}

a.button {
  background-color: #e26100;
  color: #f1efd0;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;

  transition: background-color .5s;
  -webkit-transition: background-color .5s;

}

a.button:hover {
  background-color: #b23100;
  box-shadow: 0px 0px 4px #ccc;
}

/*  HEADER */

header {
  text-align: center;
  margin-bottom: 30px;
}

nav ul {

}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #ddd;
}

nav ul li a:hover {
  background-color: #aaa;
}

nav ul li a.first {
  border-radius: 5px 0 0 5px;
}

nav ul li a.last {
  border-radius: 0 5px 5px 0;
}

h1 {
  font-size: 36px;
}

p.descriptor {
  width: 600px;
  margin: 20px auto;
}

/*  ARTICLE */

div#features {
  margin-bottom: 30px;
}

article {
  width: 250px;
  display: inline-block;
  margin-right: 20px;
}

article.last {
  margin-right: 0px;
}

article h1 {
  font-size: 24px;
}


/* --------::::::: FOOTER :::::::------- */

footer p {
  text-align: right;
}
